.navBar {
	background-color: #336699 !important;
	border-radius: 0 !important;
	text-align: center;
	font-family: 'Roboto' !important;
	border-bottom: 0px solid #336699 !important;
	margin-bottom: 0 !important;
}

.navBar a {
	color: white !important;
	cursor: pointer;
	letter-spacing: 1px;
	text-transform: uppercase;

	@media(max-width: 1000px) {
		font-size: 1em;
	}
}

.navBar li {
	border-bottom: 2px solid #336699;
}

.navBar li:hover {
	border-bottom: 2px solid white;
}