._src_client_components_PageHeader__navBar {
	background-color: #336699 !important;
	border-radius: 0 !important;
	text-align: center;
	font-family: 'Roboto' !important;
	border-bottom: 0px solid #336699 !important;
	margin-bottom: 0 !important;
}

@media (max-width: 768px) {

	._src_client_components_PageHeader__navBar {
		border-bottom: 2px solid white !important;
	}
}

._src_client_components_PageHeader__navBar a {
	color: white !important;
	cursor: pointer;
	letter-spacing: 1px;
	text-transform: uppercase;
}

@media (max-width: 1000px) {

	._src_client_components_PageHeader__navBar a {
		font-size: 1em;
	}
}

._src_client_components_PageHeader__navBar li {
	border-bottom: 2px solid #336699;
}

._src_client_components_PageHeader__navBar li:hover {
	border-bottom: 2px solid white;
}._src_client_components_Overview__container {
	position: relative;
	text-align: center;
    color: white;
    background-color: #2A3440;
    font-family: 'Roboto';
}

._src_client_components_Overview__container img {
	position: relative;
	opacity: 0.1;
}

._src_client_components_Overview__nameContainer {
	color: white;
	position: absolute;
	width: 100%;
	top: 255px;
}

._src_client_components_Overview__name {
	text-align: center;
	font-size: 1.8em;
	border: 2px solid #336699;
	padding: 18px 40px;
	font-weight: bold;
	border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    text-transform: uppercase;
    word-spacing: 6px;
}

@media (max-width: 800px) {

	._src_client_components_Overview__name {
		font-size: 1em;
	}
}

._src_client_components_Overview__positionContainer {
	color: white;
	position: absolute;
	width: 100%;
	top: 320px;
}

._src_client_components_Overview__position {
	text-align: center;
	font-size: 1em;
}

._src_client_components_Overview__imageContainer {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

._src_client_components_Overview__linkContainer {
	position: absolute;
	width: 100%;
	top: 355px;
}

._src_client_components_Overview__linkContainer i {
	font-size: 24px;
	margin-left: 10px;
	color: white;
}

._src_client_components_Overview__linkContainer i:hover {
	color: #336699;
	cursor: pointer;
}._src_client_components_About__aboutContainer {
	position: relative;
	text-align: center;
    background-color: white;
    font-family: 'Roboto';
}

._src_client_components_About__me {
	font-size: 1.5em;
	color: #2A3440;
	margin-top: 50px;
	font-weight: bold;
	letter-spacing: 1px;
	padding-bottom: 5px;
	text-transform: uppercase;
}

._src_client_components_About__seperator {
	width: 40px;
	margin: 0 auto;
	height: 2px;
	background-color: #2A3440;
}

._src_client_components_About__content {
	margin: 10px 50px;
}

._src_client_components_About__aboutContent {
	font-size: 1.2em;
	margin-top: 40px;
	word-spacing: 5px;
}